#socialgates {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#socialgates>a {
	height: 7%;
}

#socialgates>a:hover {
	height: 8%;
}

#socialgates>a>img {
	height: 100%;
}
