.card {
	height: 90%;
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 5%;
	background: black;
	border-radius: 50px;
	background: #101010;
	box-shadow:  5px 5px 10px #000, -5px -5px 10px #424242;
}

.card>blockquote {
	font-size: 4.2em;
	margin: 1em;
	color: white;
}

.card>img {
	padding: 2%;
	height: 50%;
}
