@import "header.style.css";
@import "main.style.css";
@import "card.style.css";

html, body {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #424242
}


@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
