@import "header.style.css";
@import "main.style.css";
@import "card.style.css";

html, body {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #424242
}

main {
  height: 95%;
  width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (orientation: landscape) {
}

@media (orientation: portrait) {
}
